@model ViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>THÊM</h1>

<h4>THÔNG TIN QUỐC GIA</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nation.Name" class="control-label"></label>
                <input asp-for="Nation.Name" class="form-control" name="Name"/>
                <span class="text-danger field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Thêm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Quay về danh sách</a>
</div>
