@model ViewModel
@{
    ViewData["Title"] = "Lấy lại mật khẩu";
}
@section styles {
    <link href="@Url.Content("~/css/Authenticate.css")" rel="stylesheet" />
}

<div class="container d-flex align-items-center justify-content-center">
    <form asp-controller="Authentication" asp-action="ForgotPassword" method="post" class="formCtn">
        <h1>Lấy lại mật khẩu</h1>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group pad">
            <label asp-for="ForgotPass.Email" class="control-label"></label>
            <input asp-for="ForgotPass.Email" class="form-control" autocomplete="on" name="Email" />
            <span class="text-danger field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
        </div>
        <div class="haveAcc pad">Đã lấy lại được mật khẩu?</div>
        <a asp-controller="Authentication" asp-action="Login">Quay lại trang đăng nhập</a>
        @if (TempData["Message"] != null)
        {
            <span class="text-danger">@TempData["Message"]</span>
        }
        <div class="form-group pad">
            <input type="submit" id="submit" value="Xác nhận" class="btn btn-primary" onclick="alertMailSent()" />
        </div>
    </form>
</div>

@section Scripts {
    <script>
        function alertMailSent() {
            alert("Vui lòng kiểm tra Email!");
        }
    </script>
}