<!-- HERO SLIDER -->
<div class="hero-section">
    <div class="hero-slide">
        <div class="owl-carousel carousel-nav-center" id="hero-carousel">
            <!-- SLIDE ITEM -->
            <div class="hero-slide-item">
                <video autoplay muted>
                    <source src="https://localhost:7257/video/BlueLock.mp4" type="video/mp4">
                </video>
                <div class="overlay"></div>
                <div class="hero-slide-item-content">
                    <div class="item-content-wraper">
                        <div class="item-content-title top-down">
                            Blue Lock
                        </div>
                        <div class="movie-infos top-down delay-2">
                            <div class="movie-info">
                                <i class="bx bxs-star"></i>
                                <span>8.4</span>
                            </div>
                            <div class="movie-info">
                                <i class="bx bxs-time"></i>
                                <span>25 mins</span>
                            </div>
                            <div class="movie-info">
                                <span>HD-TV Series</span>
                            </div>
                            <div class="movie-info">
                                <span>13+</span>
                            </div>
                        </div>
                        <div class="item-content-description top-down delay-4">
                            High school soccer players from across Japan gather for a controversial project designed to create the best and most egoistic striker in the world.
                        </div>
                        <div class="item-action top-down delay-6">
                            <a href="#" class="btnct btn-hover">
                                <i class="bx bxs-right-arrow"></i>
                                <span>Watch now</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END SLIDE ITEM -->
            <!-- SLIDE ITEM -->
            <div class="hero-slide-item">
                <video autoplay muted>
                    <source src="https://localhost:7257/video/Nobita'sSkyUtopia.mp4" type="video/mp4">
                </video>
                <div class="overlay"></div>
                <div class="hero-slide-item-content">
                    <div class="item-content-wraper">
                        <div class="item-content-title top-down">
                            Nobita's Sky Utopia
                        </div>
                        <div class="movie-infos top-down delay-2">
                            <div class="movie-info">
                                <i class="bx bxs-star"></i>
                                <span>7.0</span>
                            </div>
                            <div class="movie-info">
                                <i class="bx bxs-time"></i>
                                <span>115 mins</span>
                            </div>
                            <div class="movie-info">
                                <span>HD</span>
                            </div>
                            <div class="movie-info">
                                <span>13+</span>
                            </div>
                        </div>
                        <div class="item-content-description top-down delay-4">
                            The film will be set in a perfect world in the sky, where everyone lives happily. Doraemon and Nobita set out on an adventure to find the utopia with the help of a new gadget of Doraemon.
                        </div>
                        <div class="item-action top-down delay-6">
                            <a href="#" class="btnct btn-hover">
                                <i class="bx bxs-right-arrow"></i>
                                <span>Watch now</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END SLIDE ITEM -->
            <!-- SLIDE ITEM -->
            <div class="hero-slide-item">
                <video autoplay muted>
                    <source src="https://localhost:7257/video/NhaBaNu.mp4" type="video/mp4">
                </video>
                <div class="overlay"></div>
                <div class="hero-slide-item-content">
                    <div class="item-content-wraper">
                        <div class="item-content-title top-down">
                            Nhà bà nữ
                        </div>
                        <div class="movie-infos top-down delay-2">
                            <div class="movie-info">
                                <i class="bx bxs-star"></i>
                                <span>6.4</span>
                            </div>
                            <div class="movie-info">
                                <i class="bx bxs-time"></i>
                                <span>102 mins</span>
                            </div>
                            <div class="movie-info">
                                <span>HD</span>
                            </div>
                            <div class="movie-info">
                                <span>16+</span>
                            </div>
                        </div>
                        <div class="item-content-description top-down delay-4">
                            Mrs. Nu (Le Giang) is a domineering matriarch who runs her three-generational household the same way she runs her successful crab noodle soup stall. In short, she runs a tight ship in all aspects of life. However, when three generations live under one roof, sparks are bound to fly - and not necessarily the good kind.
                        </div>
                        <div class="item-action top-down delay-6">
                            <a href="#" class="btnct btn-hover">
                                <i class="bx bxs-right-arrow"></i>
                                <span>Watch now</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
